.margin-30 {
  margin: 40px;
}

.font-fam {
  font-family: Arial;
}

.card {
  background-color: gray;
}

.card-body {
  align-content:flex-end;
}

.skill {
    color:darkorchid;
    float:right;
    font-weight:normal;
}

.navbar-brand {
  margin-top: 30px;
  float: left;
}

.fw-bold {
  text-align: left;
}

.ms-2 {
  text-align: left;
}
.card-title {
    font-weight:bolder;
    font-size:large;
}


