.card {
    background-color:gray;
    min-width:fit-content;
    height:fit-content;
    margin-top:50px;
    margin-bottom: 50px;
}
.card-text {
  color: white;
  display: table-cell;
  text-align:left;
  font-weight:bolder;
  margin:2rem;
}
.card-title {
  color: white;
  margin:2rem;
}
