.card {
    background-color:gray;
    min-width:20rem;
    height:25rem;
    margin-top:50px;
    margin-bottom: 50px;
}
.card-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
}
.card-title {
    color:white
}
